recursive-include plone *
include setup.py setup.cfg *.rst LICENSE.GPL LICENSE.txt
exclude requirements.txt buildout.cfg test-*.cfg
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude news
